@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

// Set your brand colors
$darkest: #1c513c;
$dark: #297657;
$light: #39a67a;
$very-light: #34956e58;
$lightest: #2d82602b;

// Update Bulma's global variables
$family-sans-serif: "Oxygen", sans-serif;
$grey-dark: $darkest;
$grey-light: $very-light;
$primary: $dark;
$link: $light;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $lightest;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
// Import only what you need from Bulma
//@import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
